.ct-card {
  color: $color-font-primary;
  background-color: $color-white;
  border-radius: 16px;
  padding: 35px;
  box-shadow: 0 8px 16px rgba($color-primary, 0.2);
  transition-property: width, height, display;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-curve;

  &--is-loading {
    .ct-card__loader-overlay {
      display: block;
      width: 100%;
      height: 236px;
      position: relative;

      &::before {
        animation: 0.75s linear infinite spinner;
        animation-play-state: inherit;
        border: solid 4px rgba($color-primary, 0.25); // background ring
        border-bottom-color: $color-primary;
        border-radius: 50%;
        content: "";
        height: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        width: 100px;
        will-change: transform;
      }
    }

    .columns {
      display: none;
    }
  }

  &__header {
    &__title {
      color: $color-font-header-title;
      font-weight: $font-weight-medium;
      font-size: map-get($font-body, 'small', 'mobile', 'size');
      line-height: map-get($font-body, 'small', 'mobile', 'line');
      letter-spacing: map-get($font-body, 'small', 'mobile', 'letter');
      border-bottom: 1px solid rgba($color-primary, 0.4);
      padding-bottom: 18px;

      @include mq-large-up {
        font-size: map-get($font-h6, 'mobile', 'size');
        line-height: map-get($font-h6, 'mobile', 'line');
        letter-spacing: map-get($font-h6, 'mobile', 'letter');
      }
    }

    &__subtitle {
      color: $color-font-header-subtitle;
      font-size: map-get($font-body, 'xsmall', 'mobile', 'size');
      line-height: map-get($font-body, 'xsmall', 'mobile', 'line');
      letter-spacing: map-get($font-body, 'xsmall', 'mobile', 'letter');

      @include mq-large-up {
        font-size: map-get($font-body, 'xsmall', 'desktop', 'size');
        line-height: map-get($font-body, 'xsmall', 'desktop', 'line');
        letter-spacing: map-get($font-body, 'xsmall', 'desktop', 'letter');
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: row;

    &__item {
      flex: 1;
    }
  }

  &__controls {
    border-top: 1px solid rgba($color-primary, 0.4);
    text-align: right;
    height: 100%;
    padding-top: 24px;

    &__item {
      vertical-align: center;
      display: inline-block;
      height: 100%;

      &:not(:first-child) {
        margin-left: 6px;
      }

      &:not(:last-child) {
        margin-right: 6px;
      }
    }
  }
}