.tb-card {
  color: $color-font-primary;
  background-color: $color-white;
  border-radius: 16px;
  padding: 35px;
  box-shadow: 0 8px 16px rgba(#4133B7, 0.2);

  &__header {
    &__title {
      color: $color-font-header-title;
      font-weight: $font-weight-medium;
      font-size: map-get($font-body, 'small', 'mobile', 'size');
      line-height: map-get($font-body, 'small', 'mobile', 'line');
      letter-spacing: map-get($font-body, 'small', 'mobile', 'letter');

      @include mq-large-up {
        font-size: map-get($font-h6, 'mobile', 'size');
        line-height: map-get($font-h6, 'mobile', 'line');
        letter-spacing: map-get($font-h6, 'mobile', 'letter');
      }
    }

    &__subtitle {
      color: $color-font-header-subtitle;
      font-size: map-get($font-body, 'xsmall', 'mobile', 'size');
      line-height: map-get($font-body, 'xsmall', 'mobile', 'line');
      letter-spacing: map-get($font-body, 'xsmall', 'mobile', 'letter');

      @include mq-large-up {
        font-size: map-get($font-body, 'xsmall', 'desktop', 'size');
        line-height: map-get($font-body, 'xsmall', 'desktop', 'line');
        letter-spacing: map-get($font-body, 'xsmall', 'desktop', 'letter');
      }
    }
  }

  &__content {
    border-bottom: 1px solid rgba($color-primary, 0.4);
    border-top: 1px solid rgba($color-primary, 0.4);
    margin-top: 18px;
    display: flex;
    flex-direction: row;
    padding: 12px 0;

    &__item {
      flex: 1;
    }
  }

  &__controls {
    text-align: right;
    height: 100%;
    margin-top: 24px;

    &__item {
      vertical-align: center;
      display: inline-block;
      height: 100%;

      &:not(:first-child) {
        margin-left: 6px;
      }

      &:not(:last-child) {
        margin-right: 6px;
      }
    }
  }
}