.ct-header-level {
  &__header {
    font-weight: $font-weight-medium;
    color: $color-font-header-title;
    font-size: map-get($font-body, 'xxsmall', 'desktop', 'size');
    line-height: map-get($font-body, 'xxsmall', 'desktop', 'line');
    text-transform: uppercase;
    letter-spacing: 1.25px;
  }

  &__value {
    font-weight: $font-weight-semi-bold;
    color: $color-primary;
    font-size: map-get($font-body, 'xsmall', 'desktop', 'size');
    line-height: map-get($font-body, 'xsmall', 'desktop', 'line');
  }
}

.ct-message {
  .message-body {
    p {
      &:not(:last-child) {
        padding-bottom: 15px;
      }
    }
  }

  &--primary {
    background-color: rgba($color-primary, 0.1);

    .message-header {
      background-color: $color-primary;
      color: #fff;
    }

    .message-body {
      border-color: $color-primary;
      color: $color-primary;
    }
  }
}

.stepper-wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  &::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: -50%;
    z-index: 2;
  }

  &::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 2;
  }

  .step-counter {
    position: relative;
    color: $color-font-header-title;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: rgb(233, 233, 233);
    margin-bottom: 6px;
  }

  .step-name {
    font-size: 14px;
  }
}

.stepper-item.active {
  font-weight: bold;
}

.stepper-item.completed {
  .step-counter {
    background-color: $color-primary;
    color: white;;
  }
}

.stepper-item.completed.line::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid $color-primary;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 3;
  color: white;
}

.stepper-item:first-child::before {
  content: none;
}

.stepper-item:last-child::after {
  content: none;
}