.ct-account-switch-modal {
  .accounts-container {
    padding: 15px 0 15px 0;
    border-top: 2px solid rgba(215, 215, 215, 0.45);
    border-bottom: 2px solid rgba(215, 215, 215, 0.45);
  }

  .container {
    margin-top: 25px;

    .info {
      font-size: 12px;
      color: $color-font-header-subtitle;
    }
  }

  .columns {
    font-size: 15px;
  }

  .account-number {
    font-weight: 700;
    color: $color-primary;
  }

  .balance {
    font-size: 16px;
    font-weight: 600;

    small {
      font-size: 12px;
      font-weight: 600;
    }
  }

  .column.is-12 {
    &:not(:last-child) {
      border-bottom: 2px solid rgba($color-primary, 0.25);
    }

    &:hover {
      background-color: rgba(215, 215, 215, 0.25);
      cursor: pointer;
    }
  }

  .default-icon {
    color: $color-primary;
    font-size: 27.5px;
  }

  .sub-header {
    color: $color-font-header-subtitle;
    font-size: 12.75px;
    font-weight: 400;
  }
}
