.bronze {
  color: $color-rank-bronze !important;
}

.garnet {
  color: $color-rank-garnet !important;
}

.silver {
  color: $color-rank-silver !important;
}

.amethyst {
  color: $color-rank-amethyst !important;
}

.gold {
  color: $color-rank-gold !important;
}

.sapphire {
  color: $color-rank-sapphire !important;
}

.platinum {
  color: $color-rank-platinum !important;
}

.ruby {
  color: $color-rank-ruby !important;
}

.diamond {
  color: $color-rank-diamond !important;
}

.emerald {
  color: $color-rank-emerald !important;
}

.obsidian {
  color: $color-rank-obsidian !important;
}

.progress.bronze {
  &::-webkit-progress-value {
    background-color: $color-rank-bronze !important;
  }

  &::-moz-progress-bar {
    background-color: $color-rank-bronze !important;
  }

  &::-ms-fill {
    background-color: $color-rank-bronze !important;
  }
}

.progress.garnet {
  &::-webkit-progress-value {
    background-color: $color-rank-garnet !important;
  }

  &::-moz-progress-bar {
    background-color: $color-rank-garnet !important;
  }

  &::-ms-fill {
    background-color: $color-rank-garnet !important;
  }
}

.progress.silver {
  &::-webkit-progress-value {
    background-color: $color-rank-silver !important;
  }

  &::-moz-progress-bar {
    background-color: $color-rank-silver !important;
  }

  &::-ms-fill {
    background-color: $color-rank-silver !important;
  }
}

.progress.amethyst {
  &::-webkit-progress-value {
    background-color: $color-rank-amethyst !important;
  }

  &::-moz-progress-bar {
    background-color: $color-rank-amethyst !important;
  }

  &::-ms-fill {
    background-color: $color-rank-amethyst !important;
  }
}

.progress.gold {
  &::-webkit-progress-value {
    background-color: $color-rank-gold !important;
  }

  &::-moz-progress-bar {
    background-color: $color-rank-gold !important;
  }

  &::-ms-fill {
    background-color: $color-rank-gold !important;
  }
}

.progress.sapphire {
  &::-webkit-progress-value {
    background-color: $color-rank-sapphire !important;
  }

  &::-moz-progress-bar {
    background-color: $color-rank-sapphire !important;
  }

  &::-ms-fill {
    background-color: $color-rank-sapphire !important;
  }
}

.progress.platinum {
  &::-webkit-progress-value {
    background-color: $color-rank-platinum !important;
  }

  &::-moz-progress-bar {
    background-color: $color-rank-platinum !important;
  }

  &::-ms-fill {
    background-color: $color-rank-platinum !important;
  }
}

.progress.ruby {
  &::-webkit-progress-value {
    background-color: $color-rank-ruby !important;
  }

  &::-moz-progress-bar {
    background-color: $color-rank-ruby !important;
  }

  &::-ms-fill {
    background-color: $color-rank-ruby !important;
  }
}

.progress.diamond {
  &::-webkit-progress-value {
    background-color: $color-rank-diamond !important;
  }

  &::-moz-progress-bar {
    background-color: $color-rank-diamond !important;
  }

  &::-ms-fill {
    background-color: $color-rank-diamond !important;
  }
}

.progress.emerald {
  &::-webkit-progress-value {
    background-color: $color-rank-emerald !important;
  }

  &::-moz-progress-bar {
    background-color: $color-rank-emerald !important;
  }

  &::-ms-fill {
    background-color: $color-rank-emerald !important;
  }
}

.progress.obsidian {
  &::-webkit-progress-value {
    background-color: $color-rank-obsidian !important;
  }

  &::-moz-progress-bar {
    background-color: $color-rank-obsidian !important;
  }

  &::-ms-fill {
    background-color: $color-rank-obsidian !important;
  }
}

.stepper-wrapper.bronze .stepper-item.completed .step-counter,
.stepper-wrapper.bronze .stepper-item.completed.line:after {
  background-color: $color-rank-bronze;
  border-bottom: 2px solid $color-rank-bronze;
}

.stepper-wrapper.garnet .stepper-item.completed .step-counter,
.stepper-wrapper.garnet .stepper-item.completed.line:after {
  background-color: $color-rank-garnet;
  border-bottom: 2px solid $color-rank-garnet;
}

.stepper-wrapper.silver .stepper-item.completed .step-counter,
.stepper-wrapper.silver .stepper-item.completed.line:after {
  background-color: $color-rank-silver;
  border-bottom: 2px solid $color-rank-silver;
}

.stepper-wrapper.amethyst .stepper-item.completed .step-counter,
.stepper-wrapper.amethyst .stepper-item.completed.line:after {
  background-color: $color-rank-amethyst;
  border-bottom: 2px solid $color-rank-amethyst;
}

.stepper-wrapper.gold .stepper-item.completed .step-counter,
.stepper-wrapper.gold .stepper-item.completed.line:after {
  background-color: $color-rank-gold;
  border-bottom: 2px solid $color-rank-gold;
}

.stepper-wrapper.sapphire .stepper-item.completed .step-counter,
.stepper-wrapper.sapphire .stepper-item.completed.line:after {
  background-color: $color-rank-sapphire;
  border-bottom: 2px solid $color-rank-sapphire;
}

.stepper-wrapper.platinum .stepper-item.completed .step-counter,
.stepper-wrapper.platinum .stepper-item.completed.line:after {
  background-color: $color-rank-platinum;
  border-bottom: 2px solid $color-rank-platinum;
}

.stepper-wrapper.ruby .stepper-item.completed .step-counter,
.stepper-wrapper.ruby .stepper-item.completed.line:after {
  background-color: $color-rank-ruby;
  border-bottom: 2px solid $color-rank-ruby;
}

.stepper-wrapper.diamond .stepper-item.completed .step-counter,
.stepper-wrapper.diamond .stepper-item.completed.line:after {
  background-color: $color-rank-diamond;
  border-bottom: 2px solid $color-rank-diamond;
}

.stepper-wrapper.emerald .stepper-item.completed .step-counter,
.stepper-wrapper.emerald .stepper-item.completed.line:after {
  background-color: $color-rank-emerald;
  border-bottom: 2px solid $color-rank-emerald;
}

.stepper-wrapper.obsidian .stepper-item.completed .step-counter,
.stepper-wrapper.obsidian .stepper-item.completed.line:after {
  background-color: $color-rank-obsidian;
  border-bottom: 2px solid $color-rank-obsidian;
}