.ct-account-balance-history {
  .hoverable {
    transition: background-color $transition-duration $transition-curve;

    &:hover {
      cursor: pointer;
      background-color: rgba(245, 245, 245, 1.0);
    }
  }

  .columns {
    .column.is-12 {
      &:not(:last-child) {
        border-bottom: 2px solid rgba(215, 215, 215, 0.5);
      }
    }
  }

  &__empty-text {
    padding-top: 24px;
    font-size: map-get($font-body, 'default', 'mobile', 'size');
    font-weight: map-get($font-body, 'default', 'mobile', 'weight');
    line-height: map-get($font-body, 'default', 'mobile', 'line');
    color: $color-font-header-subtitle;
  }

  &__controls {
    &__new-entry {
      &:hover {
        cursor: pointer;
      }
      
      .icon {
        color: $color-primary;
      }
    }
  }

  &__entry {
    padding: 12px 12px;

    &.header-row {
      padding-top: 24px;

      .header-row__header {
        color: $color-primary;
        text-transform: uppercase;
        font-size: map-get($font-body, 'xsmall', 'desktop', 'size');
        line-height: map-get($font-body, 'xsmall', 'desktop', 'line');
        font-weight: $font-weight-medium;
      }
    }

    &__sub-header {
      color: $color-font-header-subtitle;
      font-size: map-get($font-body, 'small', 'desktop', 'size');
      line-height: map-get($font-body, 'small', 'desktop', 'line');
      font-weight: $font-weight-regular;
    }

    &__description {
      color: $color-font-primary;
      font-size: map-get($font-body, 'default', 'desktop', 'size');
      line-height: map-get($font-body, 'default', 'desktop', 'line');
      font-weight: $font-weight-regular;
    }

    &__value {
      color: $color-font-header-title;
      font-size: 16px;
      font-weight: 400;
    }

    &__amount-icon {
      font-size: 12px;
    }

    &__amount-icon.positive {
      color: $color-value-positive;
    }

    &__amount-icon.negative {
      color: $color-value-negative;
    }

    &__amount-icon.pending {
      color: orange;
    }

    &__sub-header.pending {
      text-transform: uppercase;
    }

    .vertically-align {
      vertical-align: center;
    }
  }

  &__delete-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
  }
}