.ct-promotional-payments {
  &__value {
    color: $color-primary;
    font-weight: $font-weight-semi-bold;
  }

  &__sub-header {
    color: $color-font-header-subtitle;
    font-size: map-get($font-body, 'small', 'desktop', 'size');
    line-height: map-get($font-body, 'small', 'desktop', 'line');
    font-weight: $font-weight-regular;
  }
}