.ct-mobile-side-nav {
  height: 100vh;
  width: 80vw;
  max-width: 80vw;
  background-color: $color-white;
  box-shadow: 0 0.125rem 0.375rem 0 rgba(161, 172, 184, 0.50);
  transition: max-width $transition-duration $transition-curve, transform $transition-duration $transition-curve, visibility $transition-duration $transition-curve, opacity $transition-duration $transition-curve;
  position: fixed;
  z-index: 1000;

  &.minimized {
    max-width: 0;

    .ct-mobile-side-nav__content {
      p,
      .icon,
      span,
      &__link,
      &__title {
        font-size: 0 !important;

        &.active {
          background-color: transparent;
        }
      }
    }

    .ct-mobile-side-nav__logo {
      &__control {
        display: none;
      }
    }

    .ct-mobile-side-nav__links {
      &__link.active {
        &:before,
        &:after {
          width: 0 !important;
          height: 0 !important;
          display: none;
        }

        display: none;
        width: 0;
      }
    }
  }

  &__content {
    padding: 18px 18px;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .content-entry {
      flex: 1;

      &:first-child {
        flex: 0 0 75px;
      }

      &:not(:first-child) {
        margin-top: 12px;
      }

      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }

  &__logo {
    max-width: 250px;
    margin: 0 auto;
    width: 100%;
    position: relative;

    &__control {
      border-radius: 50%;
      position: absolute;
      left: 97.75%;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 45px;
      width: 45px;
      /*background-color: $color-background;*/
      background-color: transparent;

      .control-icon {
        cursor: pointer;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: $color-brand-primary;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;

        .icon {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          color: $color-white;
          font-size: 20px;
        }
      }
    }

    &__container {
      margin: 0 auto;
      text-align: center;

      padding: 24px 24px 24px 0;
      height: 112px;
      display: flex;

      img {
        display: block;
        margin: 0 auto;
        height: 100%;
        width: 100%;
      }
    }
  }

  &__links {
    display: block;
    width: 100%;

    &__title {
      .icon, .text {
        color: $color-font-header-subtitle;
      }

      padding: 10px 16px;
      text-transform: uppercase;
      font-size: map-get($font-body, 'xxsmall', 'desktop', 'size');
      font-weight: $font-weight-regular;
      line-height: map-get($font-body, 'xxsmall', 'desktop', 'line');
      display: flex;
      align-items: center;

      transition-property: font-size;
      transition-duration: 0.15s;
      transition-timing-function: $transition-curve;

      &:after {
        content: '';
        flex: 1;
        margin-left: 1rem;
        height: 1px;
        background-color: $color-font-header-subtitle;
      }
    }

    &__link {
      display: flex;
      align-items: center;
      border-radius: 6px;
      padding: 10px 16px;
      color: $color-font-alternate;
      font-weight: $font-weight-medium;
      font-size: map-get($font-body, 'small', 'desktop', 'size');
      line-height: map-get($font-body, 'small', 'desktop', 'line');

      transition-property: font-weight, color, background-color, font-size;
      transition-duration: 0.15s;
      transition-timing-function: $transition-curve;
      width: 100%;

      .val {
        //text-transform: capitalize;
      }

      &.active {
        background-color: rgba($color-primary, 0.16);
        font-weight: $font-weight-semi-bold;
        color: $color-primary;

        &:hover {
          background-color: rgba($color-primary, 0.16);
        }

        &:before {
          background-color: $color-primary;
        }
      }

      &:before {
        content: "";
        background-color: rgba($color-navigation-bullet, 0.5);
        border-radius: 50%;
        height: 6px;
        width: 6px;
        margin-right: 1rem;
      }

      &:hover {
        cursor: pointer;
        background-color: rgba(67, 89, 113, 0.04);
      }
    }
  }

  &__footer {
    height: 100%;
    display: flex;

    &__content {
      width: 100%;
      align-self: flex-end;
      text-align: center;

      p {
        font-size: map-get($font-body, 'xxsmall', 'desktop', 'size');
        line-height: map-get($font-body, 'xxsmall', 'desktop', 'line');
        font-weight: $font-weight-light;
        color: $color-font-disabled;
      }
    }
  }
}

.ct-mobile-side-nav-trigger {
  @include mq-xlarge-up {
    display: none !important;
  }
}