.ct-content-page {

  .page-container {
    padding: 24px 24px;
    max-width: 1440px;
    margin: 0 auto;

    transition-property: padding-top, padding-right, padding-bottom, padding-left;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-curve;

    @include mq-medium-up {
      padding: 12px 25px;
    }

    @include mq-large-up {
      padding: 24px 50px;
    }

    @include mq-xlarge-up {
      padding: 48px 100px;
    }
  }
}