.ct-chart-tooltip {
  .card {
    max-width: 290px;
  }

  &__header {
    color: $color-font-header-subtitle;
    font-size: map-get($font-body, 'small', 'desktop', 'size');
    line-height: map-get($font-body, 'small', 'desktop', 'line');
    font-weight: $font-weight-regular;
  }

  &__value {
    color: $color-primary;
    font-size: map-get($font-body, 'small', 'desktop', 'size');
    line-height: map-get($font-body, 'small', 'desktop', 'line');
    font-weight: $font-weight-medium;
  }
}