.ct-news {
  &.no-old {
    .old-news {
      display: none;
    }
  }

  .table-container {
    @include custom-scrollbar(&)
  }

  &__table {
    tr, td, th {
      border: none !important;
      padding: 0;
      vertical-align: middle !important;
    }

    &__row {
      &:not(:last-child) {
        .ct-news__table__row__column {
          padding-bottom: 48px;
        }
      }

      &.old-news {
        opacity: 0.25;
      }

      &__column {
        &.date-column {
          padding-left: 12px;
          padding-top: 12px;
          vertical-align: top !important;

          .date-header {
            color: $color-font-header-title;
            font-size: map-get($font-body, 'small', 'desktop', 'size');
            font-weight: map-get($font-body, 'small', 'desktop', 'weight');
            line-height: map-get($font-body, 'small', 'desktop', 'line');
          }

          .date-value {
            color: $color-primary;
            font-size: map-get($font-body, 'default', 'desktop', 'size');
            font-weight: $font-weight-semi-bold;
            line-height: map-get($font-body, 'default', 'desktop', 'line');
          }

          &.is-active {
            border-left: 3px solid $color-primary !important;
            background: linear-gradient(90deg, rgba($color-primary, 0.075), $color-white);
          }
        }
      }
    }

    &__slot-table {
      &__row {
        &:not(:last-child) {
          border-bottom: 2px solid rgba($color-primary, 0.15) !important;
        }
      }

      &__entry {
        display: flex;
        flex-direction: row;
        align-items: center;

        &__column {
          flex: 1;

          &.icon-column {
            flex: 0 0 35px;
            text-align: center;

            .icon-wrapper {
              height: 30px;
              width: 30px;
              margin: 4px auto;
              display: flex;

              .impact-icon {
                margin: 0 auto;
                display: flex;
                align-self: center;
                height: 70%;
                width: 70%;

                &.severe {
                  color: $color-news-severe !important;
                }

                &.moderate {
                  color: $color-news-moderate !important;
                }

                &.low {
                  color: $color-news-low !important;
                }

                svg {
                  height: 100%;
                  width: 100%;
                }
              }

              img {
                height: 100%;
                width: 100%;
              }
            }
          }

          &.time-cell {
            padding-left: 4px;
            font-size: map-get($font-body, 'xsmall', 'desktop', 'size');
            font-weight: $font-weight-light;
            line-height: map-get($font-body, 'xsmall', 'desktop', 'line');

            .icon {
              display: none;
            }

            &.active {
              .icon {
                color: $color-primary !important;
                display: flex;
              }
            }
          }

          &.text-cell {
            font-size: map-get($font-body, 'small', 'desktop', 'size');
            font-weight: $font-weight-light;
            line-height: map-get($font-body, 'small', 'desktop', 'line');
          }
        }
      }
    }
  }
}