.ct-modal {
  /*animation: fade-out $transition-duration forwards;*/

  &.is-active {
    animation: fade-in $transition-duration forwards;
  }

  .modal-padding {
    padding: 18px 24px;
    width: 100%;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
  }

  &__overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: fixed;
    z-index: 40;
    background-color: rgba($color-black, 0.80);
  }

  &__content {
    background-color: rgba($color-white, 1.0);
    max-width: 650px;
    min-height: 150px;
    max-height: 650px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: fixed;
    z-index: 45;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 15px 30px 0 rgba(#000, 0.25);
    flex-grow: 1;

    @include mq-large-down {
      max-width: 90%;
    }

    &__header {
      border-bottom: 1px solid #DDDDDD;
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 65px;

      &__column {
        flex: 1;

        .icon {
          float: right;
          border-radius: 6px;

          &:hover {
            background-color: rgba(#DDDDDD, 0.5);
            cursor: pointer;
          }
        }
      }

      &__title {
        color: $color-primary;
        font-weight: $font-weight-semi-bold;
      }
    }

    &__body {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      overflow: auto;
    }

    &__controls {
      border-top: 1px solid #DDDDDD;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 85px;

      &__control {
        display: inline-block;

        &:not(:first-child) {
          margin-left: 12px;
        }

        &:not(:last-child) {
          margin-right: 12px;
        }
      }
    }
  }

  &.ct-account-balance-history-delete-modal {
    .ct-modal__content {
      height: 275px;
    }
  }

  &.ct-account-balance-history-create-modal {
    .sub-header {
      color: $color-font-header-subtitle;
      font-size: map-get($font-body, 'small', 'desktop', 'size');
      font-weight: map-get($font-body, 'small', 'desktop', 'weight');
      line-height: map-get($font-body, 'small', 'desktop', 'line');
    }

    textarea {
      resize: none;
    }
  }
}

@keyframes fade-out {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}