.ct-trade-history-entry {
  &__header {
    &__result {
      svg {
        height: 24px;
        width: 24px;
      }

      &.positive {
        color: $color-value-positive;
      }

      &.negative {
        color: $color-value-negative;
      }
    }

    &__expand {
      color: $color-primary;

      &:hover {
        cursor: pointer;
      }
    }

    &__title {
      /*color: $color-font-header-title;*/
      color: $color-primary;
      font-size: map-get($font-h6, 'desktop', 'size');
      line-height: map-get($font-h6, 'desktop', 'line');
      font-weight: $font-weight-medium;
    }

    &__subtitle {
      color: $color-font-header-subtitle;
      font-size: map-get($font-body, 'small', 'desktop', 'size');
      line-height: map-get($font-body, 'small', 'desktop', 'line');
      font-weight: $font-weight-regular;
    }

    &__percentage {
      font-size: map-get($font-body, 'default', 'desktop', 'size');
      line-height: map-get($font-body, 'default', 'desktop', 'line');
      font-weight: $font-weight-semi-bold;

      &.positive {
        color: $color-value-positive;
      }

      &.negative {
        color: $color-value-negative;
      }
    }

    .level-right {
      .level-item {
        &:not(:last-child) {
          margin-right: 24px;
        }
      }
    }
  }

  &__trade-sessions-container {
      padding: 0 12px 0 12px;

      &__trading-days {
        color: $color-font-header-title;
        font-size: map-get($font-body, 'xxsmall', 'desktop', 'size');
        line-height: map-get($font-body, 'xxsmall', 'desktop', 'line');
        font-weight: $font-weight-medium;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
  }

  &__ordered-columns {
    .column {
      &:not(:first-child):not(:last-child) {
        /*border-right: 2px solid rgba(theme.$primary-color, 0.35);*/
        border-right: 2px solid rgba($color-primary, 0.0);
      }

      .table {
        tr {
          &:not(:last-child) {
            td {
              border-bottom: 2px solid rgba($color-primary, 0.35);
            }

            th {
              border-bottom: 2px solid rgba($color-primary, 0.35);
            }
          }
        }
      }
    }

    &__header {
      color: $color-font-header-title;
      font-size: map-get($font-body, 'default', 'desktop', 'size');
      line-height: map-get($font-body, 'default', 'desktop', 'line');
      font-weight: $font-weight-medium;
    }

    &__sub-header {
      color: $color-font-header-subtitle;
      font-size: map-get($font-body, 'small', 'desktop', 'size');
      line-height: map-get($font-body, 'small', 'desktop', 'line');
      font-weight: $font-weight-light;
    }

    &__value {
      color: $color-font-header-title;
      font-size: map-get($font-body, 'default', 'desktop', 'size');
      line-height: map-get($font-body, 'default', 'desktop', 'line');
      font-weight: $font-weight-bold;
    }
  }





  .trade-log {
    .trade-list {
      .container {
        margin-top: 25px;
      }

      .pagination-link {
        //color: theme.$login-font-color;
        background-color: rgb(240, 242, 244);
        border: none;
      }

      .pagination-link.is-current {
        //background-color: theme.$primary-color;
        color: white;
      }

      .icon {
        font-size: 22px;
      }

      .icon.buy {
        //color: theme.$buy-trade;
      }

      .icon.sell {
        //color: theme.$sell-trade
      }

      .table {
        .hide-lines td {
          border: none !important;
        }

        tr.selected td {
          //background-color: theme.$primary-color;
          color: white;

          .icon {
            color: white;
          }
        }

        thead {
          tr {
            td {
              //border-bottom: 2px solid rgba(theme.$primary-color, 0.35);
            }

            th {
              //border-bottom: 2px solid rgba(theme.$primary-color, 0.35);
            }
          }
        }
      }

      .table-container {
        margin-bottom: 0;
      }

      .disregard-container {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }

    .chart-container {
      margin: 0 auto;
      height: 500px;
      width: 100%;
    }
  }
}