.ct-trade-history-entry {
  hr {
    background-color: rgba(215, 215, 215, 0.5);
  }

  &__header {
    &__result {
      svg {
        height: 24px;
        width: 24px;
      }

      &.positive {
        color: $color-value-positive;
      }

      &.negative {
        color: $color-value-negative;
      }
    }

    &__expand {
      color: $color-primary;

      &:hover {
        cursor: pointer;
      }
    }

    &__title {
      /*color: $color-font-header-title;*/
      color: $color-primary;
      font-size: map-get($font-h6, 'desktop', 'size');
      line-height: map-get($font-h6, 'desktop', 'line');
      font-weight: $font-weight-medium;
    }

    &__subtitle {
      color: $color-font-header-subtitle;
      font-size: map-get($font-body, 'small', 'desktop', 'size');
      line-height: map-get($font-body, 'small', 'desktop', 'line');
      font-weight: $font-weight-regular;

      @include mq-large-down {
        display: none;
      }
    }

    &__chart-expand {
      @include mq-large-down {
        display: none;
      }
    }

    &__percentage {
      font-size: map-get($font-body, 'default', 'desktop', 'size');
      line-height: map-get($font-body, 'default', 'desktop', 'line');
      font-weight: $font-weight-semi-bold;

      &.positive {
        color: $color-value-positive;
      }

      &.negative {
        color: $color-value-negative;
      }
    }

    .level-right {
      .level-item {
        &:not(:last-child) {
          margin-right: 24px;
        }
      }
    }
  }

  &__trade-sessions-container {
    padding: 0 12px 0 12px;

    &__trading-days {
      color: $color-font-header-title;
      font-size: map-get($font-body, 'xxsmall', 'desktop', 'size');
      line-height: map-get($font-body, 'xxsmall', 'desktop', 'line');
      font-weight: $font-weight-medium;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }

  &__ordered-columns {
    .column {
      &:not(:first-child):not(:last-child) {
        /*border-right: 2px solid rgba(theme.$primary-color, 0.35);*/
        border-right: 2px solid rgba($color-primary, 0.0);
      }

      .table-container {
        @include custom-scrollbar(&)
      }

      .table {
        tr {
          &:not(:last-child) {
            td {
              border-bottom: 2px solid rgba($color-primary, 0.35);
            }

            th {
              border-bottom: 2px solid rgba($color-primary, 0.35);
            }
          }
        }
      }
    }

    &__header {
      color: $color-font-header-title;
      font-size: map-get($font-body, 'default', 'desktop', 'size');
      line-height: map-get($font-body, 'default', 'desktop', 'line');
      font-weight: $font-weight-medium;
    }

    &__sub-header {
      color: $color-font-header-subtitle;
      font-size: map-get($font-body, 'small', 'desktop', 'size');
      line-height: map-get($font-body, 'small', 'desktop', 'line');
      font-weight: $font-weight-light;
    }

    &__value {
      color: $color-font-header-title;
      font-size: map-get($font-body, 'default', 'desktop', 'size');
      line-height: map-get($font-body, 'default', 'desktop', 'line');
      font-weight: $font-weight-bold;
    }
  }

  &__trade-list {
    .container {
      margin-top: 12px;
    }

    .test {
      display: flex;
      justify-content: center;
    }

    .table {
      $radius: 12px;

      .hide-lines td {
        border: none !important;
      }

      thead {
        tr {
          background-color: $color-primary;

          th {
            color: $color-white;
            border-bottom: none;
            font-weight: $font-weight-medium;

            &:first-child {
              border-top-left-radius: $radius;
              border-bottom-left-radius: $radius;
            }

            &:last-child {
              border-top-right-radius: $radius;
              border-bottom-right-radius: $radius;
            }
          }
        }
      }

      tbody {
        tr {
          &:nth-child(odd) {
            background-color: rgba($color-primary, 0.125);
          }

          td {
            &:first-child {
              border-top-left-radius: $radius;
              border-bottom-left-radius: $radius;
            }

            &:last-child {
              border-top-right-radius: $radius;
              border-bottom-right-radius: $radius;
            }
          }
        }
      }
    }

    .table-container {
      margin-bottom: 0;
    }

    .icon {
      font-size: map-get($font-h4, 'desktop', 'size');
      line-height: map-get($font-h4, 'desktop', 'line');
    }

    .icon.buy {
      color: $color-trade-buy;
    }

    .icon.sell {
      color: $color-trade-sell;
    }

    .ct-pagination {
      margin-top: 18px;

      .sub-header {
        color: $color-font-header-subtitle;
        font-size: map-get($font-body, 'small', 'desktop', 'size');
        line-height: map-get($font-body, 'small', 'desktop', 'line');
        font-weight: $font-weight-regular;
      }

      .pagination-link {
        color: $color-font-primary;
        background-color: rgb(240, 242, 244);
        border: none;
      }

      .pagination-link.is-current {
        background-color: $color-primary;
        color: $color-white;
      }
    }
  }
}