.ct-login-page {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 97vh;

    .card {
      width: 400px;
    }

    label {
      color: $color-font-header-title;
      font-size: 13px;
      margin-bottom: 10px;
      text-transform: uppercase;
    }

    .input {
      margin-top: 10px;
    }

    .forgot-password {
      padding-top: 5px;
      text-align: right;

      .forgot-password-text {
        color: $color-primary;
        font-size: 12.75px;
      }
    }

    .register {
      color: $color-login-font-color;
      font-size: 15px;

      .value {
        color: $color-primary;
        font-weight: 500;
      }
    }

    .sign-in-container {
      display: flex;
      align-content: center;
      align-items: center;

      .ct-button {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
      }
    }

    .welcome {
      .header {
        color: $color-font-header-title;
        font-size: 22px;
        font-weight: 500;
      }

      .sub-header {
        color: $color-login-font-color;
        font-size: 15px;
        font-weight: 400;
      }
    }
  }
}