.ct-register-page {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 97vh;

    .autocomplete-results {
      border-radius: 3px;
      box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
      position: absolute;
      width: 100%;
      z-index: 11;

      div {
        padding: 6px 12px;

        &:hover {
          cursor: pointer;
          background-color: rgba(0, 0, 0, 0.05);
        }
      }
    }

    .card {
      width: 75%;

      @include mq-large-up {
        width: 700px;
      }

      .card-content {
        padding: 24px !important;

        @include mq-large-up {
          padding: 48px !important;
        }

        @include mq-medium-up {
          padding: 36px !important;
        }
      }

      .card-title {
        font-size: 24px;
        font-weight: 400;
      }

      .card-form {
        margin-top: 36px;
      }
    }

    .country-display {
      text-transform: capitalize;
    }

    .control.timezone {
      div {
        display: block !important;
      }
    }
  }
}