.ct-register-page {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 97vh;

    .card {
      width: 75%;

      @include mq-large-up {
        width: 700px;
      }

      .card-content {
        padding: 24px !important;

        @include mq-large-up {
          padding: 48px !important;
        }

        @include mq-medium-up {
          padding: 36px !important;
        }
      }

      .card-title {
        font-size: 24px;
        font-weight: 400;
      }

      .card-form {
        margin-top: 36px;
      }
    }

    .country-display {
      text-transform: capitalize;
    }
  }
}